.post_detail {
   margin-bottom: 2em;
   background-color: #00a58151;
   padding: 20px 80px 50px 80px;
   border-radius: 20px;
 }
 
 .post_detail img {
   max-width: 600px;
 }
 
 .post_detail h2 {
   margin-bottom: 0.4em;
 }
 
 .post_detail .tags {
   margin-bottom: 1.2em;
   display: flex;
 }
 
 .tags p {
   margin-right: 0.5em;
 }
 
 .tags span {
   font-weight: bold;
 }
 
 .createdby {
   font-style: italic;
   color: #444;
   font-size: 0.8em;
   margin-bottom: 1em;
 }

 .salario {
  display: flex;
  align-items: center;
 }
 .salario p{
  margin-left: 10px;
 }